.beoexport-company-bottom-container {
    padding-top: 50px;
    padding-bottom: 80px;
    p {
        font-size: 16px;
    }
}

.beoexport-company-blue-container {
    color: #fff;
    padding-top: 80px;
    padding-bottom: 45px;
}

.beoexport-company-blue-item {
    text-align: center;
    span {
        font-size: 82px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    p {
        font-size: 24px;
    }
}

.beoexport-company-team-individual {
    h4 {
        margin-bottom: 25px;
    }
    p {
        font-size: 16px;
    }
}

.about-beoexport-container {
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
    h2 {
        color: #30389e;
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 45px;
    }
    p {
        font-size: 24px;
    }
}

.beoexport-company-team-container {
    padding-bottom: 10px;
}

@media (max-width: 767px) {
    .beoexport-company-bottom-container {
        padding-top: 0;
        padding-bottom: 40px;
        p {
            font-size: 16px !important;
        }
    }
    .beoexport-company-team-container {
        padding-bottom: 40px;
    }
    .beoexport-company-blue-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .beoexport-company-blue-item {
        margin-bottom: 30px;
        &:last-of-type {
            margin-bottom: 0;
        }
        span {
            font-size: 30px;
            margin-bottom: 15px;
        }
        p {
            font-size: 16px !important;
        }
    }
    .about-beoexport-container {
        padding-top: 30px;
        padding-bottom: 30px;
        h2 {
            font-size: 28px;
            margin-bottom: 20px;
        }
        p {
            font-size: 20px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .beoexport-company-blue-container {
        padding-top: 120px;
        padding-bottom: 80px;
        span {
            font-size: 50px;
        }
        p {
            font-size: 20px;
        }
    }
}
