.send-individual {
    img {
        width: 100%;
    }
    h4 {
        margin-bottom: 35px;
    }
}

.to-bosna-container {
    padding-bottom: 80px;
    p {
        font-size: 16px;
    }
    ol {
        display: table;
        margin: 0 auto;
        li {
            padding-left: 10px;
            text-align: left !important;
        }
    }
    ul {
        li {
            font-size: 16px;
        }
    }
}

.money-transfer-container {
    padding-bottom: 80px;
    p {
        font-size: 16px !important;
        &:first-of-type {
            margin-bottom: 15px !important;
        }
    }
}

@media (max-width: 767px) {
    .to-bosna-container {
        padding-bottom: 40px;
    }
    .send-individual {
        h4 {
            margin-bottom: 20px;
        }
    }
    .money-transfer-container {
        padding-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .money-transfer-container {
        padding-bottom: 70px;
    }
}
