.send-money-container {
    padding-top: 95px;
    text-align: center;
    h2 {
        color: #30389e;
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 55px;
    }
    p {
         font-size: 24px;
    }
}
.send-money-blue {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.send-money-botton-container {
    padding-top: 70px;
    padding-bottom: 80px;
    text-align: center;
    p {
        font-size: 16px;
    }
}

.send-money-blue-container {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    h4 {
        color: #fff;
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 60px;
    }
    p {
        color: #fff;
        margin-bottom: 20px;
        font-size: 18px;
        &:last-of-type {
            margin-bottom: 0;
        }
        .fa-check {
            margin-right: 35px;
        }
    }
}

.send-money-blue-container-paragraph {
    display: table;
    margin: 0 auto;
    text-align: left;
}

.send-money-blue-container-buttons {
    margin-top: 120px;
    a {
        height: 70px;
        width: 375px;
        max-width: 100%;
        color: #30389e;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        background-color: #fff;
        display: inline-block;
        text-align: center;
        padding-top: 17px;
    }
}

// .send-money-buttons-container {
//     padding-top: 170px;
//     padding-bottom: 145px;
//     a {
//         height: 70px;
//         width: 375px;
//         max-width: 100%;
//         color: #fff;
//         text-transform: uppercase;
//         font-weight: bold;
//         font-size: 24px;
//         background-color: #30389e;
//         display: inline-block;
//         text-align: center;
//         padding-top: 17px;
//     }
//     .left-button {
//         a {
//             float: right;
//             margin-right: 85px;
//         }
//     }
//     .right-button {
//         a {
//             float: left;
//             margin-left: 85px;
//         }
//     }
// }

@media (max-width: 767px) {
    .send-money-container {
        padding-top: 110px;
        h2 {
            font-size: 28px;
            margin-bottom: 25px;
        }
        p {
            font-size: 20px;
        }
    }
    .send-money-blue-container-buttons {
        margin-top: 50px;
        .baton {
            margin-bottom: 30px;
            a {
                font-size: 18px;
            }
        }
    }
    .send-money-botton-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .send-money-blue-container {
        padding-top: 40px;
        padding-bottom: 40px;
        h4 {
            margin-bottom: 50px;
            font-size: 22px;
        }
        p {
            font-size: 18px !important;
            margin-bottom: 10px !important;
            &:last-of-type {
                margin-bottom: 0 !important;
            }
        }
    }
    .send-money-buttons-container {
        padding-top: 50px;
        padding-bottom: 50px;
        .left-button  {
            margin-bottom: 40px;
            a {
                float: none;
                margin-right: 0;
                font-size: 15px;
                padding-top: 24px;
            }
        }
        .right-button {
            a {
                float: none;
                margin-left: 0;
                font-size: 15px;
                padding-top: 24px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .baton {
        margin-bottom: 40px;
    }
    .send-money-blue-container {
        padding-top: 70px;
        padding-bottom: 70px;
        h4 {
            margin-bottom: 70px;
        }
    }
    .send-money-blue-container-buttons {
        margin-top: 70px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .send-money-buttons-container {
        padding-top: 50px;
        padding-bottom: 50px;
        .left-button  {
            margin-bottom: 40px;
            a {
                float: right;
                margin-right: 0;
                font-size: 15px;
                padding-top: 24px;
            }
        }
        .right-button {
            a {
                float: left;
                margin-left: 0;
                font-size: 15px;
                padding-top: 24px;
            }
        }
    }
    .send-money-botton-container {
        padding-bottom: 70px;
    }
    .about-beoexport-container {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
    .beoexport-company-team-container {
        padding-bottom: 0 !important;
    }
    .send-money-container {
        padding-top: 110px;
    }
    .beoexport-company-bottom {
        .beoexport-company-bottom-container {
            padding-bottom: 60px;
        }
    }
}
