.distribution {
    &:nth-of-type(2) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        a {
            margin-left: auto;
        }
    }
}

@media (max-width: 767px) {
    .distribution {
        &:nth-of-type(2) {
            a {
                margin: 0 auto;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .distribution {
        &:nth-of-type(2) {
            a {
                margin-right: auto;
                margin-left: 0;
            }
        }
    }
}
