.media-home {
    padding-top: 120px;
    padding-bottom: 90px;
    .top {
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 80px;
    }
    h2 {
        font-size: 30px;
        color: #30389b;
        margin-bottom: 40px;
    }
    p {
        font-size: 24px;
    }
    .bottom {
        padding-top: 30px;
        text-align: center;
        p {
            font-size: 18px;
            color: #30389b;
            font-weight: bold;
        }
    }
}

@media (max-width: 767px) {
    .media-home {
        padding-top: 40px;
        padding-bottom: 30px;
        h2 {
            font-size: 28px;
            margin-bottom: 25px;
        }
        p {
            font-size: 16px;
        }
        .top {
            padding-bottom: 40px;
            img {
                margin: 0 auto;
                display: block;
            }
        }
        .media-text {
            margin-bottom: 40px;
        }
        .bottom {
            p {
                font-size: 14px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .media-home {
        padding-top: 90px;
        padding-bottom: 50px;
        p {
            font-size: 20px;
        }
    }
}
