.current-offer-container {
    padding-top: 120px;
    padding-bottom: 150px;
    .beotravel-text {
        padding-bottom: 0;
        padding-top: 0;
    }
    h2 {
        margin-bottom: 85px;
    }
    img {
        display: table;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .current-offer-container {
        padding-top: 40px;
        padding-bottom: 40px;
        .beotravel-text {
            padding-bottom: 0;
            padding-top: 0;
        }
        h2 {
            margin-bottom: 35px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .current-offer-container {
        padding-top: 50px;
        padding-bottom: 50px;
        h2 {
            margin-bottom: 45px;
        }
    }
}
