.bendigo-header {
    background-color: #a80230;
    ul {
        a {
            font-size: 18px;
            padding: 34px 26px !important;
        }
    }
    li {
        &.current-menu-item {
            a {
                font-weight: normal;
            }
        }
    }
    .navbar-brand {
        padding-top: 15px;
        padding-bottom: 14px;
    }
}

.bendigo-carousel-bottom {
    background-color: rgba(255, 255 , 255, 0.3) !important;
}



.bendigo-text {
    padding-bottom: 80px;
}


.bendigo-background-image {
    background-color: #a80230;
    position: relative;
    z-index: -1;
    .holder {
        display: flex;
        align-items: center;
        justify-content: space-between;


        div:first-of-type {
            flex-grow: 2;
            max-width: 65%;
            min-width: 65%;


        }

        div:last-of-type {
            flex-grow: 1;
            max-width: 35%;
            min-width: 35%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top right;

            img {
                height: 70%;
            }
        }
    }

    .absolute {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;

        div {
            width: 65%;

            p {
                color: #fff;
                font-size: 18px;
                margin-bottom: 0;
                font-weight: normal;
            }
        }
    }


}


.bendigo-service-container {
    width: 990px;
    padding-bottom: 125px;
    max-width: 100%;
    display: flex;
    margin-top: -51px;
}

.bendigo-single-service {
    margin-right: 15px;
    background-color: #fff;
    box-shadow: 0px 6px 2px 1px rgba(0,0,0,0.29);
    width: 25%;
    height: 295px;
    &:last-of-type {
        margin-right: 0;
    }
    h4 {
        color: #a22239;
        margin: 0;
        padding: 15px;
        font-weight: bold;
        border-bottom: 2px solid #f3b039;
    }
    p {
        margin: 0;
        &:nth-of-type(odd) {
            padding: 20px 0 30px 20px;
        }
        &:nth-of-type(even) {
            padding-left: 14px;
        }
    }
    p {
        &:nth-of-type(2) {
            padding-bottom: 15px;
        }
    }
    hr {
        margin: 0;
        height: 3px;
        background-color: #c4cdd9;
        border: none;
    }
    &:nth-of-type(2) {
        p {
            &:nth-of-type(3) {
                padding-top: 23px;
                padding-bottom: 5px;
            }
            &:nth-of-type(4) {
                padding-left: 20px;
            }
        }
    }
    &:nth-of-type(4) {
        p {
            &:nth-of-type(3) {
                padding-top: 23px;
                padding-bottom: 5px;
            }
            &:nth-of-type(4) {
                padding-left: 20px;
                padding-bottom: 5px;
            }
            &:nth-of-type(5) {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}

@media (max-width: 767px) {
    .bendigo-background-image .holder div:last-of-type {
        display: none;
    }
    .bendigo-background-image .holder {
        display: none;
    }
    .bendigo-background-image .absolute {
        padding: 30px 15px;
        position: relative;
    }
    .bendigo-background-image .absolute div {
        width: 100%;
    }
    .bendigo-header {
        ul {
            a {
                padding: 15px !important;
            }
        }
    }
    .bendigo-header {
        #primary-navigation {
            background-color: #a80230 !important;
        }
    }
    .bendigo-text {
        padding-bottom: 40px;
    }
    .bendigo-background-image {
        background-size: cover;
    }
    .bendigo-background-image-container {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
        p {
            float: none;
            width: 100%;
            font-size: 15px;
        }
    }
    .bendigo-service-container {
        margin-top: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        display: block;
    }
    .bendigo-single-service {
        box-shadow: 0 0 2px 1px rgba(0,0,0,0.29);
        margin-bottom: 50px;
        width: 100%;
        height: auto;
        padding-bottom: 15px;
        &:last-of-type {
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .bendigo-text {
        padding-top: 30px;
        padding-bottom: 40px;
        h2 {
            margin-bottom: 30px;
        }
        p {
            font-size: 18px;
        }
    }
    .bendigo-single-service {
        box-shadow: 0px 6px 2px 1px rgba(0,0,0,0.29);
    }
    .bendigo-background-image-container {
        padding-top: 40px;
        padding-bottom: 100px;
        p {
            float: none;
            width: 70%;
        }
    }
    .bendigo-service-container {
        padding-bottom: 35px;
    }
}
