.bendigo-liverpool-text {
    padding-top: 125px;
    padding-bottom: 100px;
    h2 {
        margin-bottom: 30px;
    }
    p {
        font-size: 18px;
        &:last-of-type {
            font-size: 18px;
        }
        &:first-of-type {
            margin-bottom: 30px;
        }
    }
}

.liverpool-darker-fff {
    background-color: #e1e1e1;
}

.bendigo-red {
    background-color: #a80230;
}

.bendigo-red-container {
    padding-top: 100px;
    padding-bottom: 76px;
}

.bendigo-red-single {
    color: #fff;
    text-align: center;
    h3 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-size: 24px;
    }
    h4 {
        margin-bottom: 24px;
        margin-top: 0;
    }
    p {
        font-size: 18px;
    }
}

.bendigo-know-container {
    padding-top: 160px;
    padding-bottom: 100px;
}

.bendigo-team {
    padding-top: 100px;
    padding-bottom: 0;
}

.bendigo-know-left {
    img {
        display: table;
        margin: 0 auto;
    }
}

.bendigo-know-right {
    h2 {
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 50px;
        color: #30389e;
    }
    p {
        font-size: 24px;
    }
}

.bendigo-team-container {
    padding-bottom: 125px;
}

.bendigo-team-single {
    margin-bottom: 70px;
}

.single-bendigo {
    img {
        display: table;
        margin: 0 auto;
    }
    h4 {
        font-weight: bold;
        text-transform: uppercase;
        color: #30389e;
        font-size: 16px;
        margin-top: 30px
    }
}

@media (max-width: 767px) {
    .bendigo-liverpool-text {
        padding-top: 30px;
        padding-bottom: 25px;
        margin-bottom: 20px;
        p {
            font-size: 18px !important;
            margin-bottom: 30px !important;
            &:last-of-type {
                font-size: 16px !important;
            }
        }
    }
    .bendigo-red-container {
        padding-top: 70px;
        padding-bottom: 20px;
    }
    .bendigo-red-single {
        margin-bottom: 40px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .bendigo-know-container {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .bendigo-know-left {
        margin-bottom: 30px;
    }
    .bendigo-know-right {
        h2 {
            margin-bottom: 30px;
            font-size: 28px;
        }
        p {
            font-size: 18px;
        }
    }
    .bendigo-team {
        padding-top: 40px;
    }
    .bendigo-team-single {
        margin-bottom: 40px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .single-bendigo {
        float: none !important;
        h4 {
            margin-top: 15px;
        }
    }
    .bendigo-team-container {
        padding-bottom: 40px;
        h2 {
            margin-bottom: 40px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .bendigo-liverpool-text {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .bendigo-red-container {
        padding-top: 100px;
        padding-bottom: 25px;
    }
    .bendigo-red-single {
        margin-bottom: 60px;
    }
    .bendigo-know-container {
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .bendigo-team {
        padding-top: 50px;
    }
    .bendigo-team-container {
        padding-bottom: 40px;
    }
}
