@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

.modal {
    top: 15%;
}

div.mfp-wrap {
    height: 100%;
}

.mfp-container {
    height: 130%;
}

.mfp-title {
    display: none;
}

@media (max-width: 767px) {
    div.mfp-wrap {
        height: 75%;
    }
}

body {
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

body.admin-bar {
    .site-header {
        margin-top: 32px;
    }
}

* {
    outline: none !important;
}

.navigation-bar {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
}

.blue-button {
    background-color: #30389e;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 90px;
    border: 1px solid #30389e;
    font-size: 16px;
    transition: all 0.3s;
    &:hover {
        background-color: #fff;
        color: #30389e;
    }
}

.pagination-nav {
    text-align: center;
    padding: 20px 0;
    span {
        font-size: 22px;
        color: #30389e;
    }
    a {
        font-size: 22px;
        color: #000;
    }
}

.modal {
    .name,
    .email,
    .phone {
        margin-bottom: 30px;
        input {
            width: 100%;
            max-width: 100%;
            border-radius: 0;
            border: 1px solid #000;
            padding: 10px;
        }
    }
    .msg {
        margin-bottom: 30px;
    }
    textarea {
        width: 100%;
        max-width: 100%;
        border-radius: 0;
        border: 1px solid #000;
        padding: 10px;
        resize: none;
    }
    .close {
        font-size: 45px;
        margin-top: -10px;
    }
}

.site-header {
    background-color: #30389e;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    ul {
        .current-menu-item {
            a {
                font-weight: normal;
            }
        }
        a {
            padding: 35px 23px;
            color: #fff !important;
            text-transform: uppercase;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
        }
    }
}

.pre {
    padding-bottom: 0 !important;
    cursor: default;
    .fa-phone {
        margin-right: 10px;
    }
}



.carousel-caption {
    h1 {
        white-space: nowrap;
        display: table;
    }
}

.current-menu-item {
    a {
        font-weight: 800;
    }
}

.navbar-brand {
    height: auto;
}

.site-header ul a {
    padding: 35px 20px;
}

p {
    line-height: 150%;
}

a {
    text-decoration: none !important;
}

img {
    max-width: 100% !important;
    vertical-align: middle;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.carousel-indicators {
    li {
        width: 10px !important;
        height: 10px !important;
        border-radius: 0;
    }
}

.about-site {
    float: left;
    width: calc(100% / 6);
    text-align: center;
    h3 {
        font-size: 25px;
        margin-top: 15px;
        color: #fff;
        margin-bottom: 0;
    }
    p {
        font-weight: 300;
        font-size: 14px;
        color: #fff;
    }
    img {
        display: table;
        margin: 0 auto;
        width: auto;
        height: 40px;
    }
}

iframe {
    border: none;
    margin-top: 50px;
}

.slick-carousel {
    opacity: 1 !important;
    display: block;
}

.slick-item {
    img {
        width: 100%;
    }
}

.vc_row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.vc_col-lg-1, .vc_col-lg-10, .vc_col-lg-11, .vc_col-lg-12, .vc_col-lg-2, .vc_col-lg-3, .vc_col-lg-4, .vc_col-lg-5, .vc_col-lg-6, .vc_col-lg-7, .vc_col-lg-8, .vc_col-lg-9, .vc_col-md-1, .vc_col-md-10, .vc_col-md-11, .vc_col-md-12, .vc_col-md-2, .vc_col-md-3, .vc_col-md-4, .vc_col-md-5, .vc_col-md-6, .vc_col-md-7, .vc_col-md-8, .vc_col-md-9, .vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-xs-1, .vc_col-xs-10, .vc_col-xs-11, .vc_col-xs-12, .vc_col-xs-2, .vc_col-xs-3, .vc_col-xs-4, .vc_col-xs-5, .vc_col-xs-6, .vc_col-xs-7, .vc_col-xs-8, .vc_col-xs-9 {
    min-height: 0 !important;
}

@media (max-width: 767px) {
    .blue-button {
        background-color: #30389e;
        color: #fff;
        text-transform: uppercase;
        padding: 20px 60px;
        border: 1px solid #30389e;
        font-size: 14px;
        transition: all 0.3s;
        &:hover {
            background-color: #fff;
            color: #30389e;
        }
    }
    .about-site {
        margin-bottom: 40px;
        float: none;
        width: 100%;
        text-align: center;
        h3 {
            font-size: 22px;
            margin-top: 20px;
        }
        img {
            margin: 0 auto;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .about-site {
        a {
            display: block;
            img {
                display: block;
                margin: 0 auto;
            }
        }
        h3 {
            font-size: 20px;
            margin-top: 20px;
        }
    }
}

#map {
    width: 100% !important;
    max-width: 100% !important;
}

@media (max-width: 767px) {
    .site-header {
        display: block;
        width: 100%;
    }
    .menu-languages-container {
        position: absolute;
        top: 17px;
        right: 70px;
        float: none;
        margin-top: 0;
        a {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-left: 8px !important;
            padding-right: 8px !important;
        }
        img {
            width: 20px !important;
            height: 10px !important;
            margin-left: 0;
        }
    }
    #primary-navigation {
        a {
            padding: 15px;
            &.pre {
                padding-left: 15px !important;
                padding-top: 15px !important;
                padding-bottom: 15px !important;
            }
        }
    }
    .navbar-brand {
        float: none;
        padding: 15px 15px;
        margin-right: 0;
        img {
            width: 150px;
            height: auto;
        }
    }
    .navbar-toggle {
        margin-top: 15px;
        margin-left: 15px;
        padding-right: 0;
        .icon-bar {
            background-color: #fff !important;
        }
    }
    #primary-navigation {
        z-index: 9999999;
        position: relative;
        background-color: rgba(48, 56, 158, 1);
        border: none;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand {
        width: 100%;
        display: block;
        padding-left: 0;
        img {
            width: 200px;
        }
    }
    #primary-navigation {
        padding-left: 0;
        .list-items {
            float: left !important;
        }
        a,
        .pre {
            padding-left: 0;
            padding-top: 15px !important;
            padding-bottom: 15px !important;
            font-size: 14px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .menu-languages-container {
        top: 15%;
        right: 5%;
        img {
            width: 30px !important;
            height: 15px !important;
        }
    }
}

@media (max-width: 1024px) {
    .beoexport-slider {
        .carousel-caption {
            display: none;
        }
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .navbar-brand {
        display: block;
        width: 100%;
        padding-left: 0;
        img {
            width: 230px;
        }
    }
    #primary-navigation {
        padding-left: 0;
        .list-items {
            float: left !important;
        }
        a,
        .pre {
            padding-left: 0;
            padding-top: 20px !important;
            padding-bottom: 20px !important;
            font-size: 16px;;
        }
    }
}

@media (min-width: 1025px) {
    .bendigo-header {
        .navbar-brand {
            padding-top: 22px;
            padding-bottom: 30px;
        }
    }
    .navbar-brand {
        padding-top: 30px;
        padding-bottom: 30px;
        img {
            width: 170px;
        }
    }
    #primary-navigation {
        float: right;
        a {
            padding: 30px 10px;
            font-size: 14px;
        }
    }
}

@media (min-width: 1281px) {
    .bendigo-header {
        .navbar-brand {
            padding-top: 15px;
            padding-bottom: 30px;
        }
    }
    .navbar-brand {
        padding-top: 30px;
        padding-bottom: 30px;
        img {
            width: auto;
        }
    }
    #primary-navigation {
        float: right;
        a {
            padding: 35px 15px;
            font-size: 18px;
        }
    }
}

@media (min-width: 1550px) {
    #primary-navigation {
        float: right;
        a {
            padding: 35px 25px;
            font-size: 18px;
        }
    }
}
