.carousel-indicators {
    li {
        background-color: transparent;
        border: 1px solid #fff;
        &.active {
            background-color: #fff;
        }
    }
}

.carousel-control {
    background-image: none !important;
}

.carousel {
    margin-top: 90px;
}

// .item {
//     img {
//         height: 100% !important;
//     }
// }

.beotravel-specials {
    .beotravel-specials-caption {
        width: 50%;
        float: left;
        height: 100%;
        top: 0;
        left: 0;
        background-color :#30389e;
        transform: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .beotravel-specials-caption-inner {
        width: 70%;
    }
    h1 {
        background-color: transparent;
        border: none;
    }
    .carousel-control {
        background-image: none;
    }
    .beotravel-specials-img {
        background-image: url('https://dev1.m1.rs/beogroup/wp-content/uploads/2018/09/beotravel-plane-931x380.jpg');
        height: 50vh;
        background-position: center center;
        width: 50%;
        float: right;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 767px) {
    .beotravel-specials {
        h1 {
            font-size: 30px;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
        }
    }
    .beogroup-carousel {
        .item {
            img {
                display: block;
                height: auto;
                left: 50%;
                max-height: none;
                max-width: none;
                min-height: 100%;
                min-width: 100%;
                position: absolute;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: auto;
            }
        }
        .beogroup-carousel-caption {
            left: 5%;
        }
    }
    .same-carousel {
        .item {
            img {
                display: block;
                height: auto;
                left: 50%;
                max-height: none;
                max-width: none;
                min-height: 100%;
                min-width: 100%;
                position: absolute;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: auto;
            }
        }
        .same-carousel-caption {
            top: 25%;
            left: 5%;
        }
        .carousel-bottom-container {
            padding-top: 10px;
            padding-bottom: 5px;
        }
        .white-heading {
            font-size: 26px;
            margin-bottom: 0;
        }
        .white-part-paragraph {
            margin-right: 0;
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 420px) {
    .beotravel-specials {
        .carousel-caption {
            position: relative;
        }
        .item {
            height:50vh !important;
        }
        .beotravel-specials-caption {
            width: 100%;
            float: none;
            height: auto;
        }

        .beotravel-specials-caption-inner {
            width: 90%;
        }
        .beotravel-specials-img {
            width: 100%;
        }
    }
    .beoexport-slider {
        .item {
            height:80vh !important;
        }
    }
    .beoexport-carousel-bottom {
        top: 0;
    }
    .beoexport-carousel-bottom-container {
        h4 {
            margin-bottom: 10px !important;
        }
        form {
            margin-bottom: 0 !important;
        }
        .amount,
        .gets {
            p {
                font-size: 16px !important;
                margin-bottom: 5px !important;
            }
        }
        .transfer-info {
            font-size: 14px;
        }
    }
    .amount-wrapper {
        margin: 0 auto;
    }
    .slick-carousel {
        //height: 20vh;
        display: none;
    }
    // .slick-list,
    // .slick-track,
    // .slick-item {
    //     height: 100% !important;
    // }
    // .slick-item {
    //     img {
    //         height: 100% !important;
    //     }
    // }
    .carousel-indicators {
        display: none !important;
    }
    .beogroup-carousel {
        .item {
            height: 50vh;
        }
    }
    .same-carousel {
        .item {
            height: 50vh;
        }
    }
    .beogroup-carousel-caption {
        h1 {
            font-size: 21px !important;
            white-space: normal;
            padding: 10px;
        }
        p {
            font-size: 14px !important;
            padding: 8px;
        }
    }
    .same-carousel-caption {
        h1 {
            font-size: 21px !important;
            white-space: normal;
            padding: 10px;
        }
        p {
            font-size: 14px !important;
            padding: 8px;
        }
    }
}

@media (min-width: 421px) and (max-width: 767px) {
    .beotravel-specials {
        .carousel-caption {
            position: relative;
        }
        .item {
            height:60vh !important;
        }
        .beotravel-specials-caption {
            width: 100%;
            float: none;
            height: auto;
        }

        .beotravel-specials-caption-inner {
            width: 90%;
        }
        .beotravel-specials-img {
            width: 100%;
            height: 60vh;
        }
    }
    .slick-carousel {
        //height: 15vh;
        display: none;
    }
    // .slick-list,
    // .slick-track,
    // .slick-item {
    //     height: 100% !important;
    // }
    // .slick-item {
    //     img {
    //         height: 100% !important;
    //     }
    // }
    .beogroup-carousel {
        .item {
            height: 45vh;
        }
    }
    .beogroup-carousel-caption {
        h1 {
            font-size: 24px;
            white-space: normal;
            padding: 10px;
        }
        p {
            font-size: 12px !important;
            padding: 8px;
        }
    }
    .amount-wrapper {
        margin: 0 auto;
    }
    .same-carousel {
        .item {
            height: 50vh;
        }
    }
    .same-carousel-caption {
        h1 {
            font-size: 25px !important;
            white-space: normal;
            padding: 10px;
        }
        p {
            font-size: 12px !important;
            padding: 8px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .beotravel-specials {
        h1 {
            font-size: 36px;
        }
        p {
            font-size: 22px;
        }
    }
    .beogroup-carousel {
        .item {
            height: 60vh;
            img {
                display: block;
                height: auto;
                left: 50%;
                max-height: none;
                max-width: none;
                min-height: 100%;
                min-width: 100%;
                position: absolute;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: auto;
            }
        }
        .beogroup-carousel-caption {
            left: 5%;
            h1 {
                font-size: 36px;
                white-space: normal;
                padding: 10px;
            }
            p {
                font-size: 18px;
                padding: 8px;
            }
        }
    }
    .same-carousel {
        .item {
            height: 60vh;
            img {
                display: block;
                height: auto;
                left: 50%;
                max-height: none;
                max-width: none;
                min-height: 100%;
                min-width: 100%;
                position: absolute;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: auto;
            }
        }
        .carousel-button {
            width: 200px;
            padding-top: 22px;
            padding-bottom: 22px;
            font-size: 16px;
        }
        .same-carousel-caption {
            top: 25%;
            left: 2%;
            h1 {
                font-size: 36px;
                white-space: normal;
                padding: 10px;
            }
            p {
                font-size: 15px !important;
                padding: 8px;
            }
        }
        .carousel-bottom-container {
            padding-top: 10px;
            padding-bottom: 5px;
        }
        .white-heading {
            font-size: 26px;
            margin-bottom: 10px;
        }
        .white-part-paragraph {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .same-carousel-caption {
        top: 30%;
        left: 10%;
    }
}

@media (min-width: 1281px) {
    .same-carousel-caption {
        top: 30%;
        left: 8%;
    }
}

@media (min-width: 1600px) {
    .same-carousel-caption {
        top: 50%;
        left: 20%;
    }
}

.beoexport-carousel-bottom {
    background-color: rgba(217, 219, 238, 0.28);
}

.beoexport-carousel-bottom-container {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: #fff;
    h4 {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 35px;
    }
    form {
        margin-bottom: 25px;
        position: relative;
    }
    .amount-wrapper,
    .gets-wrapper {
        position: relative;
        width: 230px;
        height: 55px;
    }
    .amount-wrapper {
        margin-left: auto;
    }
    .gets-wrapper {
        margin: 0 auto;
    }
    .amount,
    .gets {
        p {
            font-size: 18px;
        }
    }
    input,
    .beoexport-carousel-link {
        height: 55px;
        width: 230px;
        max-width: 100%;
        text-transform: uppercase;
        font-size: 16px;
        border-radius: 0;
    }
    .beoexport-carousel-link {
        float: left;
    }
    input {
        background-color: #fff;
        border: 2px solid #000;
        color: #000;
        text-align: center;
        color: #000;
        font-size: 18px;
    }
    label {
        color: #000;
        font-weight: bold;
        font-size: 16px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }
    .beoexport-carousel-link {
        background-color: #30389e;
        color: #fff;
        border: 2px solid #30389e;
        padding-top: 14px;
        display: inline-block;
    }
    .amount {
        text-align: right;
        input {
            margin-left: auto;
        }
    }
    .gets {
        text-align: center;
        input {
            margin: 0 auto;
        }
    }
    .beoexport-carousel-button {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .transfer-info {
        font-size: 12px;
        a {
            font-size: 12px;
            color: #fff;
        }
    }
}

@media (max-width: 767px) {
    .carousel {
        margin-top: 93px;
    }
    .beoexport-carousel-bottom-container {
        h4 {
            font-size: 20px;
            margin-bottom: 15px;
        }
        form {
            margin-bottom: 15px;
        }
        .transfer-info {
            margin-bottom: 0 !important;
            font-size: 16px !important;
        }
        .amount {
            text-align: center;
            margin-bottom: 15px;
            p {
                margin-bottom: 15px !important;
            }
            input {
                margin: 0 auto;
            }
        }
        .gets {
            margin-bottom: 15px;
        }
        .beoexport-carousel-button {
            margin-bottom: 15px;
            position: relative;
            .beoexport-carousel-link {
                float: none;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .beoexport-slider {
        .item {
            height: 40vh;
        }
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .beoexport-slider {
        .item {
            height: 100vh;
        }
    }
}


@media (min-width: 1025px) and (max-width: 1400px) {
    .carousel-caption {
        left: 3% !important;
    }
}
