.about-us {
    background-color: #30389e;
}

.about-us-container {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    p {
        text-align: center;
    }
    .about-sites {
        margin-top: 50px;
        text-align: center;
    }
}

.about-director {
    background-image: url('assets/img/kugla.png'), url('assets/img/vas.png');
    background-position: center center;
    background-size: contain !important;
    background-repeat: no-repeat no-repeat;
    p {
        margin-bottom: 20px;
    }
    a {
        font-size: 16px;
        border: none;
        padding: 0;
        background-color: transparent;
        text-transform: none;
        margin: 0;
        &:hover {
            color: #000;
            background-color: transparent;
        }
    }
}

.sites-container {
    padding-bottom: 20px;
    padding-top: 80px;
    text-align: center;
    color: #000;
    p {
        font-size: 16px;
        margin-bottom: 40px;
        &:nth-of-type(3) {
            font-size: 30px;
        }
    }
}

.signature {
    float: right;
    p {
        font-weight: 300;
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .home-about-text {
        padding-left: 0;
        padding-right: 0;
    }
    .about-us-container {
        padding-top: 30px;
        padding-bottom: 30px;
        .about-sites {
            margin-top: 30px;
        }
    }
    .sites-container {
        padding-top: 40px;
        padding-bottom: 40px;
        p {
            font-size: 14px;
            margin-bottom: 20px;
            &:nth-of-type(3) {
                font-size: 24px;
            }
        }
    }
    .about-director {
        padding-bottom: 0;
        background-size: auto;
        p {
            font-size: 16px !important;
        }
        .home-about-text {
            margin-bottom: 0;
        }
    }
    .signature {
        float: none;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .about-director {
        background-size: auto;
    }
    .about-us-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .sites-container {
        padding-top: 40px;
        padding-bottom: 40px;
        p {
            margin-bottom: 20px;
        }
    }
}

// @media (max-width: 1199px) {
//     .about-director {
//         padding-bottom: 70px;
//         background-image: url('assets/img/kugla.png');
//         background-position: top left;
//         background-size: contain;
//         background-repeat: no-repeat;
//     }
// }
