.map {
    padding-top: 95px;
    h2 {
        margin-top: 0;
        margin-bottom: 45px;
        font-size: 36px;
        color: #30389e;
    }
    h4 {
        margin-top: 0;
        font-size: 24px;
    }
}

.map-heading {
    text-align: center;
    margin-bottom: 100px;
}

.informations-container {
    table {
        width: 100%;
        text-align: left;
    }
    a {
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #000
    }
    th {
        font-weight: bold;
        font-size: 18px;
        color: #30389e;
        padding-bottom: 30px;
    }
    td {
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
        &.name {
            font-weight: bold;
        }
    }
}

.form-container {
    margin-top: 60px;
}

.map-section {
    padding-bottom: 130px;
    display: flex;
    align-items: flex-start;
}

.map-map {
    padding-left: 0;
}

.informations-container {
    text-align: center;
    h2 {
        font-size: 36px;
        color: #30389e;
        margin-bottom: 100px;
        margin-top: 0;
    }
    form {
        width: 100%;
        text-align: left;
    }
    label {
        text-transform: uppercase;
        font-size: 14px;
    }
    input {
        width: 100%;
        border-radius: 0;
        padding: 10px;
        height: 45px;
        border: 1px solid #d7d7d7;
        background-color: #ebebeb;
    }
    textarea {
        width: 100%;
        resize: none;
        background-color: #ebebeb;
        padding: 10px;
        border: none;
    }
}

.g-recaptcha {
    div {
        margin-bottom: 25px;
        width: auto !important;
        height: auto !important;
    }
}

.rc-anchor-light.rc-anchor-normal.rc-anchor  {
    background-color: #fff;
    border: none;
    box-shadow: none;
}


@media (max-width: 767px) {
    .map {
        padding-top: 90px;
        h2 {
            font-size: 30px;
            margin-bottom: 30px;
        }
        h4 {
            font-size: 18px;
        }
    }

    .form-info {
        margin-bottom: 20px;
    }
    .map-heading {
        margin-bottom: 30px;
    }
    #map {
        height: 60vh !important;
    }
    .map-map {
        padding-left: 15px;
    }
    .informations-container {
        th {
            padding-bottom: 10px;
            padding-left: 8px;
            padding-right: 8px;
        }
        td {
            padding: 8px;
        }
    }
    .form-container {
        padding-bottom: 0;
        h2 {
            font-size: 30px;
            margin-bottom: 30px;
        }
        form {
            width: 100%;
        }
    }
}

@media (max-width: 420px) {
    .informations-container {
        a,
        th,
        td {
            font-size: 11px;
        }
    }
}

@media (min-width: 421px) and (max-width: 767px) {
    .informations-container {
        a,
        th,
        td {
            font-size: 13px;
        }
    }
}

@media (max-width: 1024px) {
    .informations-container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .map-section {
        display: block;
        padding-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .map {
        padding-top: 140px;
    }
    .map-heading {
        margin-bottom: 40px;
    }
    .map-section {
        padding-bottom: 50px;
    }
    .map-map {
        padding-left: 15px;
    }
    #map {
        height: 60vh !important;
    }
    .informations-container {
        padding-bottom: 40px;
    }
    .form-container {
        padding-bottom: 0;
        h2 {
            margin-bottom: 60px;
        }
    }
}

@media (min-width: 1200px) {
.map-section {
    align-items: flex-end;
}
}
