.faq-container {
    padding-top: 85px;
    padding-bottom: 50px;
}

.faq-heading {
    margin-bottom: 130px;
    text-align: center;
    h2 {
        font-size: 36px;
        color: #303893;
    }
    h4 {
        font-size: 16px;
        color: #000;
    }
}

.question-block {
    margin-bottom: 80px;
    &:last-of-type {
        margin-bottom: 0;
    }
    h5 {
        font-weight: bold;
        color: #303893;
        margin-top: 0;
        font-size: 24px;
        margin-bottom: 50px;
    }
    h6 {
        color: #0f3c62;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 35px !important;
        margin-top: 0;
        text-decoration: underline;
        cursor: pointer;
    }
    .answer {
        display: none;
        p {
            font-size: 14px;
        }
    }
}

@media (max-width: 767px) {
    .faq-container {
        padding-top: 85px;
        padding-bottom: 40px;
    }
    .faq-heading {
        margin-bottom: 50px;
        h2 {
            font-size: 28px;
        }
        h4 {
            font-size: 20px;
        }
    }
    .question-block {
        margin-bottom: 60px;
        h5 {
            margin-bottom: 15px;
        }
        h6 {
            margin-bottom: 25px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .faq-container {
        padding-top: 85px;
        padding-bottom: 40px;
    }
    .faq-heading {
        margin-bottom: 40px;
    }
    .question-block {
        h5 {
            margin-bottom: 35px;
        }
        h6 {
            margin-bottom: 25px !important;
        }
    }
}
