.site-footer {
    background-color: #30389e;
    color: #fff;
    ul {
        list-style: none;
        padding-left: 0;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
    .current-menu-item {
        a {
            font-weight: normal;
        }
    }
}

.footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1250px !important;
    max-width: 100%;
}

.footer-bottom-container {
    .footer-paragraph {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        color: #fff;
        font-size: 14px;
        margin-bottom: 0;
    }
}

.footer-bottom {
    background-color: #3d66c1;
}


.footer-logo {
    text-align: center;
    margin-bottom: 70px;
}

#menu-footer-navigation {
    margin-bottom: 40px;
    &::after {
        content: " ";
        clear: both;
        display: table;
    }
    li {
        float: left;
        width: calc(100% / 6);
    }
    a {
        font-size: 18px;
        text-transform: uppercase;
    }
}

.footer-search {
    display: flex;
    align-items: center;
}

.footer-brochure {
    padding-left: 60px;
    padding-right: 60px;
    p {
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: 0;
        white-space: nowrap;
        &:last-of-type {
            font-size: 16px;
            font-weight: bold;
            text-decoration: underline;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}

.tnp-subscription {
    display: flex !important;
    margin: 0 !important;
    max-width: none !important;
    width: auto !important;
    h4 {
        font-weight: bold;
        font-size: 24px;
        margin-right: 15px;
        margin-bottom: 0;
        margin-top: 0;
    }
    form {
        display: flex;
    }
    input {
        width: 180px !important;
        height: 40px !important;
        background-color: #30389e !important;
        border: 1px solid #fff !important;
        color: #fff !important;
        margin-right: 15px !important;
        width: 180px !important;
    }
    .tnp-submit {
        background-color: #fff !important;
        height: 40px !important;
        color: #3d66c1 !important;
        width: 120px !important;
        text-transform: uppercase;
    }
}

.footer-links {
    padding-bottom: 50px;
    border-bottom: 1px solid #fff;
    margin-bottom: 50px;
    > a {
        margin-top: 0;
        margin-bottom: 25px;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 20px !important;
    }
    .footero {
        float: left;
        width: calc(100% / 6);
        > a {
            margin-top: 0;
            margin-bottom: 25px;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 16px !important;
            display: inline-block;
        }
        a {
            font-size: 14px;
        }
    }
}

.footer-find {
    float: right  !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    ul {
        display: flex;
    }
    p {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 14px;
        margin-right: 30px;
        white-space: nowrap;
    }
    li {
        margin-right: 30px;
        &:last-of-type {
            margin-right: 0;
        }
        a {
            font-size: 36px;
        }
    }
}

@media (max-width: 767px) {
    .footer-container {
        padding-bottom: 0;
    }
    .footer-bottom-container {
        .footer-paragraph {
            text-align: center;
            padding-top: 15px;
            padding-bottom: 20px;
            color: #fff;
            font-size: 14px !important;
            margin-bottom: 0 !important;
        }
    }
    .footer-logo {
        margin-bottom: 30px;
    }
    #menu-footer-navigation {
        margin-bottom: 20px;
        a {
            font-size: 16px;
        }
        li {
            display: block;
            margin-bottom: 3px;
            float: none;
            width: 100%;
        }
    }
    .footer-search {
        display: block;
    }
    .footer-brochure {
        margin-bottom: 40px;
        padding-left: 0;
        padding-right: 0;
    }
    .tnp-subscription {
        margin-bottom: 40px !important;
        width: 100% !important;
        input {
            width: 100% !important;
            &.tnp-submit {
                width: 100% !important;
            }
        }
        h4 {
            margin-bottom: 10px;
        }
        display: block !important;
        form {
            display: block !important;
        }
    }
    .footer-find {
        float: none !important;
        display: block;
        ul {
            text-align: justify;
            display: block;
            &::after {
                content: " ";
                width: 100%;
                display: inline-block;
            }
        }
        li {
            display: inline-block;
            margin: 0;
            a {
                font-size: 22px;
            }
        }
    }
}

@media (min-width:768px) and (max-width: 1200px) {
    #menu-footer-navigation {
        margin-bottom: 30px;
        a {
            font-size: 15px;
        }
    }
    .footer-links {
        h2 {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
    .footer-search {
        display: block;
    }
    .footer-brochure {
        margin-bottom: 40px;
        text-align: center;
    }
    .tnp-subscription {
        width: 100% !important;
        justify-content: center;
        margin-bottom: 40px !important;
    }
    .footer-find {
        float: none !important;
        justify-content: center;
        p {
            margin-right: 30px;
        }
    }
}

@media (max-width: 480px) {
    .footer-links {
        padding-bottom: 0;
        h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .footero {
            float: none;
            width: 100%;
            margin-bottom: 30px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .footer-links {
        padding-bottom: 0;
        h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .footero {
            float: left;
            text-align: center;
            width: 50%;
            margin-bottom: 40px;
            padding: 0;
            &:last-of-type {
                float: none;
                width: 100%;
                text-align: center;
            }
        }
    }
    .menu-footer-navigation-container {
        ul {
            text-align: center !important;
            a {
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-links {
        .footero {
            a {
                font-size: 12px !important;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .footer-links {
        .footero {
            a {
                font-size: 13px !important;
            }
        }
        a {
            font-size: 12px !important;
        }
    }
}
