.gallery-container {
    padding-top: 180px;
    padding-bottom: 100px;
}

.gallery-heading {
    margin-bottom: 75px;
    text-align: center;
    h2 {
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 0;
        color: #303893;
    }
}

.gallery-single {
    margin-bottom: 40px;
    text-align: center;
    .gallery-item {
        margin: 0 !important;
        img {
            height: 100%;
        }
    }
    h4 {
        font-size: 18px;
        color: #303893;
        margin-top: 25px;
    }
}

.pagination {
    text-align: center;
    display: block;
    margin-top: 160px;
    .current {
        text-decoration: underline;
        color: #337ab7;
    }
}

@media (max-width: 767px) {
    .gallery-container {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .gallery-heading {
        margin-bottom: 30px;
    }
    .gallery-single {
        padding-left: 0;
        padding-right: 0;
        h4 {
            margin-top: 15px;
        }
    }
    .pagination {
        margin-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .gallery-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .gallery-heading {
        margin-bottom: 55px;
    }
    .gallery-single {
        h4 {
            margin-top: 20px;
        }
    }
    .pagination {
        margin-top: 45px;
    }
}
