.site-header {
    background-color: #30389e;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    max-width: 1920px;
    ul {
        a {
            padding: 35px 23px;
            color: #fff !important;
            text-transform: uppercase;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
        }
    }
}

.beogroup-header {
    .navbar-brand {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.menu-languages-container {
    position: absolute;
    top: 60%;
    right: 3%;
    a {
        padding: 0 !important;
        &:first-of-type {
            margin-left: 0;
        }
    }
    img {
        margin-left: 18px;
    }
    ul {
        padding-left: 0;
        list-style: none;
    }
    li {
        display: inline-block;
    }
    a {
        padding-top: 0 !important;
        padding: 0 10px;
        &:last-of-type {
            padding-right: 20px;
        }
    }
}
