.my-container {
    padding-bottom: 35px;
}

.carousel-caption {
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    text-align: left;
    display: table;
    h1 {
        color: #fff;
        font-size: 48px;
        background-color: #3d66c1;
        margin-top: 0;
        padding: 9px 20px;
        margin-bottom: 0;
        border-bottom: 5px solid #c13d3d;
        text-shadow: none;
    }
    p {
        color: #fff;
        padding: 4px 18px;
        font-size: 22px;
        background-color: #30389e;
        display: table;
        margin-top: -10px;
        text-shadow: none
    }
}

.carousel-control {
    .glyphicon-chevron-left {
        left: 20%;
    }
    .glyphicon-chevron-right {
        right: 20%;
    }
}

.item {
    img {
        max-width: 100% !important;
        width: 100%;
    }
}

.navbar-toggle {
    border: none;
    &:hover {
        background-color: transparent !important;
    }
    &:focus {
        background-color: transparent !important;
    }
}

.carousel-indicators {
    li {
        border: none;
        background-color: #fff;
    }
}

.sites {
    text-align: center;
    padding: 30px;
    transition: all 0.5s;
    color: #000;
    &:hover {
        transform: translateY(-15px);
        box-shadow: 1px 2px 8px 5px rgba(0,0,0, 0.25);
        z-index: 999;
        background-color: #fff;
    }
    .sites-intro {
        margin-bottom: 55px;
    }
    img {
        float: left;
        width: 45%;
    }
    .sites-text {
        float: left;
        width: 45%;
        margin-left: 55px;
        text-align: left;
        img {
            float: none;
            width: auto !important;
            display: table;
            margin: 0 auto;
        }
        p {
            margin-top: 20px;
        }
    }
    h3 {
        margin-top: 0;
        font-size: 30px;
        margin-bottom: 35px;
    }
    p {
        font-size: 15px !important;
        color: #30389e;
        margin-bottom: 30px;
    }
    ul {
        padding-left: 0;
        list-style: none;
        li {
            &::before {
                content: " ";
                width: 8px;
                height: 8px;
                background-color: #30389e;
                display: inline-block;
                border-radius: 50%;
                margin-right: 25px;
            }
        }
        a {
            text-decoration: none;
            font-size: 16px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .blue-button-home {
        font-size: 20px;
        color: #30389e;
    }
    .arrow {
        width: auto;
        float: none;
        margin-left: 30px;
    }
}

.beogroup-options {
    background-color: #30389e;
}

.options-container {
    padding-top: 55px;
    padding-bottom: 55px;
}

.option {
    background-color: #fff;
    padding-top: 30px;
    width: 48%;
    border-radius: 9999px;
    margin-right: 1%;
    margin-left: 1%;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    h3 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 30px;
        color: #000;
        text-transform: capitalize;
    }
    h4 {
        margin-top: 0;
        margin-bottom: 7px;
        color: #30389e;
        font-size: 22px;
    }
    p {
        font-size: 16px;
        color: #000;
    }
}

.option-text {
    float: left;
    width: 75%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 2px solid #a1a1a1;
    h3 {
        white-space: nowrap;
    }
}

.option-search {
    position: relative;
    float: left;
    width: 25%;
    padding-left: 35px;
    font-weight: bold;
        font-size: 16px;
        color: #30399e;
    img {
        margin-bottom: 20px;
        display: table;
    }
}

.home-about {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-about-container {
    width: 1450px;
    padding-top: 35px;
    padding-bottom: 50px;
    max-width: 100%;
    h2 {
        margin-top: 0;
        font-size: 40px;
        margin-bottom: 30px;
        white-space: nowrap;
    }
    h4 {
        font-size: 22px;
        margin-bottom: 45px;
        color: #000;
    }
    p {
        color: #000;
        font-size: 16px;
    }
    a {
        font-size: 14px;
        color: #000;
        border: 1px solid #c13d3d;
        padding: 15px 55px;
        background-color: #fff;
        text-transform: uppercase;
        transition: all 0.25s;
        margin-top: 40px;
        display: inline-block;
        &:hover {
            background-color: #c13d3d;
            color: #fff;
        }
    }
}

.home-about-text {
    padding-top: 70px;
}

.home-about-img {
    img {
        display: table;
        margin-left: auto;
    }
}

@media (max-width: 767px) {
    .item {
        img {
            display: block;
            height: auto;
            left: 50%;
            max-height: none;
            max-width: none;
            min-height: 100%;
            min-width: 100%;
            position: absolute;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: auto;
        }
    }
    .my-container {
        padding-bottom: 35px;
    }
    .sites {
        &:hover {
            transform: none;
            box-shadow: none;
        }
        img {
            float: none;
            margin: 0 auto;
            width: 200px;
        }
        .sites-text {
            margin-top: 10px;
            float: none;
            width: 100%;
            margin-left: 0;
            text-align: center;
            margin-bottom: 15px;
            h3 {
                margin-bottom: 15px;
                font-size: 25px;
            }
            p {
                margin-bottom: 10px;
                font-size: 16px;
            }
            li {
                margin-bottom: 5px;
            }
        }
        .sites-intro {
            margin-bottom: 5px;
        }
        ul {
            text-align: left;
            display: table;
            margin: 0 auto;
        }
        .blue-button-home {
            white-space: nowrap;
        }
        .arrow {
            margin-left: 15px;
        }
    }
    .home-about-container {
        padding-top: 40px;
        padding-bottom: 40px;
        a {
            font-size: 10px;
        }
        h2 {
            white-space: normal;
        }
    }
    .home-about-text {
        padding-left: 15px;
        padding-top: 0;
        padding-right: 15px;
        margin-bottom: 40px;
        h2 {
            font-size: 30px;
            margin-bottom: 20px;
        }
        h4 {
            font-size: 18px;
            margin-bottom: 30px;
        }
    }
    .home-about-img {
        img {
            width: 200px;
        }
    }
    .option {
        width: 100% !important;
        display: block;
        border-radius: 0;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &:last-of-type {
            padding-bottom: 50px;
        }
        h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        h4 {
            font-size: 16px;
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
        }
    }
    .option-text {
        border: none;
    }
    #main-carousel2 {
        .item {
            height: 30vh;
            img {
                display: block;
                height: auto;
                left: 50%;
                max-height: none;
                max-width: none;
                min-height: 100%;
                min-width: 100%;
                position: absolute;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: auto;
            }
        }
    }
    .option-text {
        float: none;
        width: 100%;
        left: 0;
        margin-bottom: 15px;
    }
    .option-search {
        float: none;
        width: 100%;
        left: 0;
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
        img {
            margin-bottom: 0;
            display: inline-block;
            margin-right: 20px;
        }
    }
}

@media (min-width:768px) and (max-width: 1199px) {
    .sites {
        padding-bottom: 0;
        &:hover {
            transform: translateY(-15px);
        }
        img {
            width: 80%;
            display: block;
            float: none;
            margin: 0 auto;
        }
    }
    .sites {
        &:hover {
            // transform: none;
            // box-shadow: none;
        }
        .sites-intro {
            margin-bottom: 40px;
        }
        .sites-text {
            float: none;
            width: 100%;
            text-align: center;
            margin-left: 0;
            margin-top: 20px;
            p {
                margin-top: 15px;
            }
        }
    }
    .my-container {
        padding-bottom: 0;
    }
    .option {
        width: 98% !important;
        margin-bottom: 50px;
        margin-left: 1%;
        margin-right: 1%;
        padding-top: 20px;
        padding-bottom: 20px;
        h3 {
            margin-bottom: 10px;
            font-size: 25px;
        }
        h4 {
            font-size: 20px;
            margin-bottom: 18px;
        }
        p {
            font-size: 14px;
        }
    }
    .home-about-container {
        padding-top: 40px;
        padding-bottom: 40px;
        .home-about-text {
            float: none;
            width: 100%;
            margin-bottom: 50px;
        }
        h2 {
            font-size: 35px;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 30px;
        }
    }
    .home-about-img {
        img {
            margin: 0 auto;
            width: 400px;
        }
    }
    #main-carousel2 {
        img {
            display: block;
            height: auto;
            left: 50%;
            max-height: none;
            max-width: none;
            min-height: 100%;
            min-width: 100%;
            position: absolute;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: auto;
        }
    }
}

// @media (min-width: 992px) {
//     .sites {
//         .sites-text {
//             margin-left: 55px;
//         }
//         h3 {
//             font-size: 25px;
//             margin-bottom: 15px;
//         }
//         p {
//             font-size: 13px;
//             margin-bottom: 20px;
//         }
//     }
//     .sites {
//         &:hover {
//             transform: translateY(-15px);
//         }
//     }
// }
// @media (min-width: 992px) and (max-width: 1419px) {
//     .sites {
//         .sites-text {
//             float: none;
//             width: 100%;
//             margin-left: 0;
//             margin-top: 20px;
//         }
//     }
// }

// @media (min-width: 1420px) {
//     .sites-text {
//         margin-left: 30px !important;
//     }
// }

// @media (min-width: 1200px) and (max-width: 1440px) {
//     .sites-text {
//         margin-left: 20px !important;
//     }
// }

@media (min-width:1200px) and (max-width: 1450px) {
    .sites {
        padding-bottom: 0;
        img {
            width: 100% !important;
        }
        .sites-intro {
            margin-bottom: 0;
        }
    }
    .sites-text {
        margin-top: 30px;
        width: 100% !important;
        text-align: center !important;
        margin-left: 0 !important;
    }
}

@media (min-width: 1451px) {
    .sites-text {
        margin-left: 20px !important;
    }
}
