.offer-container {
    padding-top: 90px;
    padding-bottom: 80px;
}

.offer-heading {
    margin-bottom: 65px;
    width: 50%;
    margin-left: 30px;
    color: #000;
    h2 {
        font-size: 48px;
        margin-bottom: 30px;
        margin-top: 0;
    }
    h4 {
        margin-bottom: 45px;
        font-size: 22px;
        font-weight: 300;
        margin-top: 0;
    }
    p {
        font-size: 14px;;
        font-weight: 300;
    }
}

.offer {
    text-align: center;
    margin-bottom: 70px;
    img {
        display: table;
        margin: 0 auto;
    }
    h4 {
        margin-top: 55px;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 18px;
        color: #003d7e;
    }
    p {
        font-size: 14px;
    }
}

// .slb_container {
//     width: 100% !important;
//     height: 100% !important;
// }
//
// .slb_content {
//     width: 100% !important;
//     height: 100% !important;
// }

@media (max-width: 767px) {
    .offer-container {
        padding-top: 100px;
        padding-bottom: 40px;
    }
    .offer-heading {
        width: 100%;
        margin-left: 0;
        margin-bottom: 25px;
        h2 {
            font-size: 32px;
            margin-bottom: 20px;
        }
        h4 {
            margin-bottom: 30px;
            font-size: 18px;
        }
    }
    .offer {
        margin-bottom: 40px;
        &:last-of-type {
            margin-bottom: 0;
        }
        h4 {
            margin-bottom: 15px;
            margin-top: 15px;
        }
        p {
            font-size: 15px !important;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .offer-container {
        padding-top: 120px;
        padding-bottom: 40px;
    }
    .offer-heading {
        width: 100%;
        margin-left: 0;
        margin-bottom: 55px;
        h2 {
            margin-bottom: 20px;
        }
        h4 {
            margin-bottom: 30px;
        }
    }
    .offer {
        margin-bottom: 50px;
        h4 {
            margin-top: 15px;
            margin-bottom: 20px;
        }
    }
}
