.radio-carousel-bottom {
    background-color: rgba(48, 56, 158, 0.3) !important;
}

.beo-radio-header {
    .navbar-brand {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.radio-carousel-button {
    width: 180px;
    padding: 20px 0;
}

.beoradio-blue-section {
    padding-top: 55px;
    padding-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;
    h2 {
        color: #fff;
        font-size: 36px;
        margin-bottom: 50px;
        margin-top: 0;
        text-align: center;
    }
    p {
        margin-bottom: 50px;
        font-size: 24px;
        &:nth-of-type(2) {
            font-weight: bold;
            margin-bottom: 40px;
        }
    }
    a {
        display: block;
        width: 185px;
        text-transform: uppercase;
        font-size: 16px;
        color: #fff;
        border: 1px solid #fff;
        padding: 20px 0;
        margin: 0 auto;
        text-align: center;
        transition: all 0.4s;
        &:hover {
            background-color: #fff;
            border: 1px solid #30389e;
            color: #30389e;
        }
    }
}

.broadcast {
    margin-top: 50px;
    p {
        text-align: left;
        margin-bottom: 10px !important;
    }
    audio {
        width: 100%;
        margin-bottom: 17px;
        max-width: 100%;
    }
}

.our-team-section {
    padding-bottom: 40px;
}

.member {
    text-align: center;
    img {
        display: table;
        margin: 0 auto;
    }

    h4 {
        text-transform: uppercase;
        // font-weight: bold;
        font-size: 16px;
        color: #30389e;
        margin-top: 30px;
    }
}

.our-team-text {
    margin-top: 65px;
}


@media (max-width: 767px) {
    .broadcast {
        margin-top: 30px;
        padding-bottom: 35px;
    }
    .radio-broadcast {
        padding-bottom: 0;
    }
    .beoradio-blue-section {
        padding-left: 15px;
        padding-right: 15px;
        h2 {
            font-size: 28px;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 25px;
            font-size: 18px;
        }
    }
    .member {
        margin-bottom: 35px;
        &:last-of-type {
            margin-bottom: 0;
        }
        h4 {
            margin-top: 15px;
        }
    }
    .our-team-text {
        margin-top: 20px;
    }
    .our-team-section {
        padding-bottom: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .broadcast {
        padding-bottom: 0;
    }
    .our-team-section {
        padding-bottom: 70px;
    }
}
