.overseas-header {
    ul {
        a {
            padding: 35px 30px;
        }
    }
}

.carousel-caption-overseas {
    top: 40%;
}

.overseas-blue-container {
    p {
        max-width: none !important;
    }
}

.carousel-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(48, 56, 158, 0.3);
    .white-part {
        margin-top: 0;
    }
}

.overseas-carousel-button {
    width: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel-bottom-container {
    padding-top: 55px;
    padding-bottom: 55px;
    text-align: left;
    color: #fff;
}

.special-offer-container {
    h2 {
        margin-bottom: 85px;
    }
}

.overseas-text-container {
    h2 {
        margin-bottom: 70px !important;
    }
}

.overseas-text-inner {
    padding-top: 0;
    text-align: left;
    .profile {
        margin-top: 90px;
    }
    h4 {
        color: #30389e;
        font-weight: 800;
        margin-top: 0;
    }
}

.overseas-blue {
    padding-top: 145px;
    padding-bottom: 170px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.overseas-blue-container {
    p {
        text-align: left;
        width: 70%;
    }
}

.selected-offer {
    padding-bottom: 105px;
    padding-top: 105px;
    .carousel-control {
        background-image: none;
        color: #30389e;
        opacity: 1;
    }
    h2 {
        color: #30389e;
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 65px;
        text-align: center;
    }
}

.offer-img {
    width: 50%;
    float: left;
    img {
        width: auto;
        height: 500px;
    }
}

.offer-text {
    text-align: left;
    width: 50%;
    padding-left: 20px;
    padding-right: 75px;
    float: left;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 75px;
    h3 {
        font-size: 30px;
        margin-top: 0;
    }
    .offer-info {
        margin-bottom: 30px;
        p {
            font-size: 16px;
            color: #000;
            margin: 0;
            &:first-of-type {
                margin-bottom: 15px;
            }
        }
        .price,
        .space,
        .land {
            width: 25%;
            font-weight: bold;
            display: inline-block;
            margin-right: 35px;
            white-space: nowrap;
            font-weight: bold;
            font-size: 14px;
            color: #30389e;
            text-transform: uppercase;
        }
        .address {
            color: #30389e;
            width: 100%;
            font-size: 14px;
            font-weight: bold;
        }
    }
}

@media (max-width: 767px) {
    .overseas-text-container {
        padding-bottom: 35px;
        h2 {
            margin-bottom: 25px !important;
        }
    }
    .overseas-text-inner {
        .profile {
            margin-top: 30px;
        }
    }
    .overseas-blue {
        padding-top: 40px;
        padding-bottom: 45px;
    }
    .overseas-blue-container {
        p {
            width: 100%;
        }
    }
    .offer-content {
        margin-bottom: 60px;
    }
    .special-offer {
        padding-bottom: 25px;
    }
    .selected-offer {
        padding-top: 40px;
        padding-bottom: 40px;
        h2 {
            margin-bottom: 25px;
            font-size: 28px;
        }
        .carousel {
            padding: 0 20px;
        }
    }
    .offer-info {
        margin-bottom: 0 !important;
        .price,
        .space,
        .land,
        .address {
            font-size: 16px !important;
        }
        p {
            &:last-of-type {
                font-size: 13px !important;
            }
        }
    }
    .offer-text {
        margin-bottom: 25px;
        h3 {
            font-size: 26px;
        }
        a {
            font-size: 14px;
            padding-top: 16px;
            padding-bottom: 16px;
            width: 170px;
            margin-top: 20px;
        }
    }
    .offer-text {
        float: none;
        width: 100%;
        padding: 10px;
        margin-bottom: 0;
    }
    .offer-img {
        float: none;
        width: 100%;
        padding: 10px;
        img {
            margin: 0 auto;
            position: relative;
            transform: none;
            left: 0;
            width: auto;
            height: 300px;
        }
    }
    .home-about-img {
        img {
            margin: 0 auto;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .overseas-blue {
        padding-top: 70px;
        padding-bottom: 80px;
    }
    .overseas-blue-container {
        p {
            width: 100%;
        }
    }
    .offer-text {
        padding-left: 60px;
        padding-right: 10px;
    }
    .offer-info {
        .price,
        .space,
        .land {
            display: block !important;
            width: 100% !important;
        }
    }
    .offer-img {
        img {
            width: auto;
            height: 400px;
        }
    }
    .special-offer {
        padding-bottom: 70px;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .offer-img {
        img {
            width: auto;
            height: 500px;
        }
    }
}
