.real-estate-container {
    padding-top: 110px;
    padding-bottom: 135px;
    h2 {
        color: #30389e;
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 55px;
    }
}

.seling-reting {
    .checkbox-inline.custom-controls-stacked.d-block.my-3 {
        padding-left: 0;
        margin-right: 20px;
        margin-left: 40px;
        &:first-of-type {
            margin-left: 0;
        }
        &:nth-of-type(2) {
            margin-right: 0;
        }
    }
    .checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked {
            & ~ .custom-control-indicator {
                background-color: #e1e1e1;
            }
        }
    }
    label {
        margin: 0 20px 0 0;
        font-size: 20px;
        font-weight: normal;
        display: inline-block;
        position: relative;
    }
    .custom-control-indicator {
        color: #fff;
        background-color: transparent;
        position: absolute;
        border: 3px solid #e1e1e1;
        top: 50%;
        transform: translateY(-50%);
        left: -55px;
        display: block;
        width: 40px;
        height: 40px;
    }
}

.real-estate-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.seling-reting,
.budget {
    display: flex;
    justify-content: space-around;
}

.property-type {
    label {
        margin-right: 20px;
        font-size: 20px;
        font-weight: normal;
        display: inline-block;
    }
    select {
        display: inline-block;
        border-radius: 0;
        border: 3px solid #e1e1e1;
        background-color: transparent;
        width: 200px;
        max-width: 100%;
        -webkit-appearance: none;
       -moz-appearance: none;
        height: 40px;
    }
}

.budget {
    input {
        height: 40px;
        width: 100px;
        max-width: 100%;
        background-color: transparent;
        border: 3px solid #e1e1e1;
        border-radius: 0;
        margin-right: 17px;
        margin-right: 50px;
        text-align: left;
        padding: 10px;
        font-size: 18px;
        color: #000;
        &:last-of-type {
            margin-right: 0;
        }
    }
    p {
        margin-right: 50px;
        font-weight: normal;
        font-size: 20px;
    }
}

.search-button {
    input {
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        background-color: #30389e;
        transition: all 0.4s;
        border: 1px solid #30389e;
        display: inline-block;
        padding: 15px 45px;
        &:hover {
            color: #30389e;
            background-color: #fff;
        }
    }
}

.sort {
    a {
        color: #30389e;
        font-size: 18px;
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 2px solid #30389e;
        &:first-of-type {
            padding-left: 0;
        }
        &:last-of-type {
            border: none;
        }
    }
}

.real-estate-single {
    border-bottom: 1px solid #e1e1e1;
    padding-top: 65px;
    padding-bottom: 65px;
    &:last-of-type {
        border: none;
    }
    h3 {
        margin-top: 0;
        font-size: 40px;
        margin-bottom: 15px;
    }
    .address,
    .price,
    .land,
    .space {
        font-size: 22px !important;
        color: #30389e;
        font-weight: normal;
    }
    .price,
    .land,
    .space {
        display: inline;
        margin-right: 40px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    .content {
        p {
            font-size: 16px;
        }
    }
}

.gallery-item {
    width: 100% !important;
    &:not(:first-of-type) {
        display: none;
    }
    img {
        border: none !important;
        width: 370px;
        height: auto;
        float: left;
    }
}

.real-estate-single-img {
    float: left;
    width: calc(100% / 3);
}

.real-estate-single-text {
    float: left;
    width: calc(100% / 3 * 2);
    padding-left: 150px;
    .search-modal-button {
        margin-top: 40px;
        margin-bottom: 40px;
        a {
            width: 180px;
            max-width: 100%;
            display: inline-block;
            padding: 20px 0;
        }
    }
}

@media (max-width: 767px) {
    .real-estate-container {
        padding-top: 40px;
        padding-bottom: 40px;
        h2 {
            font-size: 28px;
            margin-bottom: 25px;
            text-align: center;
        }
    }
    .real-estate-form {
        display: block;
        margin-bottom: 35px;
    }
    #slb_viewer_slb_default {
        top: 20% !important;
    }
    .seling-reting {
        margin-bottom: 40px;
        margin-left: 10px;
        justify-content: space-evenly;
        label {
            margin-bottom: 20px;
        }
    }
    .checkbox-inline {
        margin-left: 0 !important;
        display: block;
        text-align: center;
    }
    .property-type {
        select {
            width: 100%;
        }
        label {
            margin-bottom: 20px;
        }
        margin-bottom: 40px;
    }
    .budget {
        display: block;
        p {
            margin-bottom: 20px;
        }
        input {
            margin-bottom: 30px;
            width: 100%;
        }
    }
    .search-button {
        margin-top: 35px;
        margin-bottom: 40px;
    }
    .sort {
        a {
            display: block;
            border: none;
            padding: 5px 0;
        }
    }
    .real-estate-single {
        padding-top: 30px;
        padding-bottom: 30px;
        h3 {
            font-size: 26px;
        }
    }
    .real-estate-single-img {
        width: 100%;
        float: none;
    }
    .real-estate-single-text {
        padding-left: 0;
        float: none;
        width: 100%;
    }
    .address,
    .price,
    .land,
    .space {
        display: block !important;
    }
    .content {
        p {
            font-size: 18px !important;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .real-estate-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .seling-reting,
    .budget, {
        margin-bottom: 40px;
        display: block;
    }
    .seling-reting {
        margin-right: 40px;
        text-align: left;
        padding-left: 56px;
    }
    .real-estate-form {
        display: block;
    }
    .property-type {
        margin-bottom: 40px;
        text-align: left;
    }
    .search-button {
        margin-bottom: 50px;
    }
    .real-estate-single-text {
        padding-left: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1350px) {
    .checkbox-inline {
        label {
            font-size: 20px;
        }
    }
    .property-type {
        label {
            font-size: 20px;
        }
    }
    .seling-reting,
    .budget, {
        display: block;
        float: left;
        width: 50%;
    }
    .seling-reting {
        text-align: left;
        padding-left: 56px;
        margin-bottom: 50px;
    }
    .real-estate-form {
        display: block;
    }
    .property-type {
        text-align: left;
        float: left;
        margin-bottom: 50px;
        width: 50%;
    }
    .real-estate-form {
        display: block;
    }
    .budget {
        display: flex !important;
        align-items: flex-end;
        justify-content: flex-start;
        p {
            font-size: 20px;
            margin-bottom: 5px;
            display: inline-block;
        }
    }
    .search-button {
        float: left;
        width: 50%;
        text-align: center;
    }
    .budget {
        display: block;
    }
    .real-estate-single-text {
        padding-left: 50px;
    }
}
