.beotravel-holiday-text {
    padding-top: 125px;
    padding-bottom: 140px;
}

.beotravel-cruise-text {
    padding-top: 100px;
    padding-bottom: 80px;
}

.cruises-container {
    padding-bottom: 40px;
}

.cruise-single {
    text-align: center;
    width: 467px;
    max-width: 100%;
    margin: 0 auto;
    img {
        display: table;
        margin: 0 auto;
    }
}

.single-cruise-text-buttons {
    form {
        width: 100%;
        text-align: left;
        margin-top: 50px;
        overflow: hidden;
        display: none;
    }
    label {
        text-transform: uppercase;
        font-size: 14px;
    }
    input {
        width: 100%;
        border-radius: 0;
        padding: 10px;
        height: 45px;
        border: 1px solid #d7d7d7;
        background-color: #ebebeb;
    }
    textarea {
        width: 100%;
        resize: none;
        background-color: #ebebeb;
        padding: 10px;
        border: none;
    }
    .blue-button {
        margin-top: 30px;
        background-color: #30389e !important;
        color: #fff !important;
        text-transform: uppercase !important;
        padding: 20px 90px !important;
        border: 1px solid #30389e !important;
        font-size: 16px !important;
        transition: all .3s !important;
        width: auto !important;
        height: auto !important;
    }
}

.beotravel-plane {
    position: relative;
}

.beotravel-plane-text {
    text-align: left;
}

.beotravel-plane-text-inner {
    float: right;
    width: 75%;
}

.cruises-info {
    margin-bottom: 60px;
}

.cruise-info-bottom {
    margin: 0 auto;
    background-color: #ebebeb;
    padding-bottom: 50px;
}

// .beotravel-plane-img {
//     background-image: url('assets/img/beotravel-plane.jpg');
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: cover;position: absolute;
//     left: 50%;
//     top: 0;
//     height: 100%;
//     width: 50%;
// }

.cruise-info-text {
    padding-top: 30px;
    margin-bottom: 40px;
    h4 {
        text-transform: uppercase;
        font-size: 24px;
        color: #30389e;
        margin-top: 0;
        margin-bottom: 30px;
    }
    p {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.cruises-button {
    .blue-button {
        display: table;
        margin: 0 auto;
    }
}

.single-event {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    img {
        display: table;
        margin: 0 auto;
    }
    h4 {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        color: #30389e;
        margin-top: 55px;
        margin-bottom: 30px
    }
    p {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .beotravel-cruise-text {
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .cruises-container {
        padding-bottom: 50px;
    }
    .cruise-single {
        margin-bottom: 50px !important;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    // .beotravel-plane-img {
    //     position: relative;
    //     left: 0;
    //     top: 100%;
    //     width: 100%;
    //     padding: 85px 0;
    // }
    // .beotravel-plane-text-inner {
    //     float: none;
    //     width: 100%;
    //     padding-left: 10px;
    //     padding-right: 10px;
    // }
    // .beotravel-plane-text {
    //     padding-left: 0;
    //     padding-right: 0;
    //     h3 {
    //         font-size: 30px;
    //         margin-bottom: 25px;
    //     }
    //     p {
    //         margin-bottom: 0 !important;
    //     }
    // }
    .event-text {
        margin-bottom: 60px;
    }
    .single-event {
        margin-bottom: 50px;
        &:last-of-type {
            margin-bottom: 0;
        }
        h4 {
            margin-top: 25px;
            margin-bottom: 15px;
        }
    }
    .cruises-info {
        margin-bottom: 60px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .beotravel-plane-text-inner {
        float: left;
        width: 40%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .beotravel-cruise-text {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .cruises-container {
        padding-bottom: 70px;
    }
    .single-event {
        margin-bottom: 50px;
        h4 {
            margin-top: 30px;
        }
    }
}
