.air-fares {
    padding-top: 105px;
    padding-bottom: 100px;
    h2 {
        margin-bottom: 60px;
        margin-top: 0;
    }
    h3 {
        margin-bottom: 60px;
        color: #30389e;
        font-size: 24px;
        text-transform: uppercase;
        margin-top: 60px;
    }
    .left {
        float: left;
        width: 50%;
    }
    .right {
        float: right;
        width: 50%;
    }
    .blue-button {
        padding: 20px 45px;
    }
}

.air-fares-text {
    margin-bottom: 105px !important;
     margin-top: 75px;
}

.air-fares-bottom-text {
    font-size: 18px;
    p {
        font-size: 24px;
    }
}

.beotravel-plane {
    h2 {
        color: #fff;
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 45px;
        text-align: center;
    }
}

.beotravel-plane-left,
.beotravel-plane-right {
    float: left;
    width: 50%;
}

.beotravel-plane-left {
    background-color: #30389e;
}

.beotravel-plane {
    h3 {
        color: #fff;
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 40px;
    }
}

.white-section-container {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    h2 {
        font-size: 24px;
        margin-bottom: 30px;
        margin-top: 0;
        white-space: nowrap;
    }
    p {
        font-size: 16px;
        margin-bottom: 0;
    }
    .blue-button {
        margin-left: auto;
    }
    .white-section-button {
        position: absolute;
        bottom: 180px;
        right: 0;
        text-align: right;
    }
}

.rent-container {
    padding-top: 85px;
    padding-bottom: 85px;
}

.rent-heading {
    margin-bottom: 60px;
    h2 {
        color: #30389e;
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 24px;
    }
    p {
        font-size: 14px;
    }
}

.company {
    margin-bottom: 50px;
    &:last-of-type {
        margin-bottom: 0;
    }
    .blue-button {
        margin: 0 auto;
    }
    img {
        margin-left: 15px;
    }
    ul {
        list-style: none;
    }
}

.rent-details {
    margin-bottom: 125px;
    margin-top: 35px;
    h3 {
        white-space: nowrap;
        margin-top: 0;
        font-size: 24px;
        margin-bottom: 60px;
    }
    p {
        font-size: 14px;
        margin-bottom: 0;
        margin-bottom: 10px;
    }
    ul {
        margin-bottom: 55px;
        &:nth-of-type(2) {
            margin-bottom: 0;
        }
        li {

            font-size: 14px;
        }
    }
    h4 {
        margin-bottom: 25px;
    }
    img {
        display: table;
        margin: 0 auto;
    }
    li {
        font-size: 18px;
    }
    #gallery-1 {
        .gallery-item {
            width: 25% !important;
            padding: 10px;
            &:not(:first-of-type) {
                display: block;
            }
        }
    }
}

.rent-button {
    text-align: center;
}

.check-container {
    padding-top: 60px;
    padding-bottom: 80px;
    .blue-button {
        margin: 0 auto;
    }
    .check-button {
        text-align: center;
    }
}

.check-column {
    display: table;
}

.check-row {
    margin-bottom: 80px;
    img {
        display: table;
        vertical-align: middle;
        margin: 0 auto;
    }
    p {
        margin: 0;
        font-size: 16px;
        color: #30389e;
        text-transform: uppercase;
        white-space: nowrap;
        display: table-cell;
        vertical-align: middle;
    }
}

@media (max-width: 767px) {
    .air-fares {
        padding-top: 100px;
        padding-bottom: 40px;
        h2 {
            margin-bottom: 45px;
        }
    }
    .air-fares-container {
        h3 {
            margin-top: 45px;
        }
    }
    .air-fares-text {
        margin-top: 45px;
    }
    .air-fares {
        h3 {
            margin-bottom: 20px;
            font-size: 20px;
        }
        .left {
            float: none;
            width: 100%;
        }
        .right {
            float: none;
            width: 100%;
        }
    }
    .air-fares-bottom-text {
        p {
            font-size: 18px;
        }
    }
    .beotravel-plane {
        h2 {
            font-size: 28px;
            margin-bottom: 20px;
        }
    }
    .white-section-container {
        padding-top: 35px;
        padding-bottom: 40px;
        h2 {
            font-size: 20px;
            white-space: normal;
        }
        .white-section-button {
            position: relative;
            bottom: 0;
            text-align: center;
        }
        .blue-button {
            margin: 0 auto;
        }
        .white-section-left {
            margin-bottom: 40px;
            padding-left: 0;
            padding-right: 0;
        }
    }
    .rent-container {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .rent-heading {
        text-align: center;
        margin-bottom: 40px;
        h2 {
            font-size: 28px;
            margin-bottom: 30px;
        }
    }
    .rent-info {
        margin-bottom: 40px;
        h3 {
            white-space: normal !important;
            margin-bottom: 30px;
            font-size: 20px !important;
        }
        p {
            font-size: 16px !important;
        }
    }
    .rent-details {
        margin-bottom: 50px;
        ul {
            padding-left: 30px;
            margin-bottom: 35px;
        }
    }
    .rent-button {
        margin-bottom: 50px;
    }
    .check-container {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .check-row {
        p {
            white-space: normal;
        }
        .col-md-6 {
            &:first-of-type {
                margin-bottom: 20px;
            }
        }
    }
    .company {
        margin-top: 70px;
        img {
            margin: 0 auto;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .air-fares {
        padding-top: 95px;
        padding-bottom: 60px;
        h2 {
            margin-bottom: 40px;
        }
        h3 {
            margin-bottom: 40px;
        }
    }
    .air-fares-text {
        margin-bottom: 40px !important;
    }
    .white-section-container {
        padding-top: 60px;
        padding-bottom: 60px;
        h2 {
            white-space: normal;
        }
    }
    .rent-container {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .rent-heading {
        margin-bottom: 30px;
        h2 {
            margin-bottom: 30px;
        }
    }
    .rent-details {
        margin-top: 20px;
        margin-bottom: 45px;
        h3 {
            white-space: normal;
            margin-bottom: 40px;
        }
        ul {
            padding-left: 40px;
        }
    }
    .check-container {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .check-row {
        p {
            white-space: normal;
        }
    }
    .company {
        margin-bottom: 95px;
    }
}
