.beotravel-services {
    padding-top: 30px;
    padding-bottom: 10px;
}

.beotravel-icons {
    h3 {
        color: #30389e;
    }
    p {
        color: #30389e;
    }
}

.white-part {
    margin-top: 110px;
}

.white-part-paragraph {
    margin-right: 45px;
}

.white-part-text {
    font-size: 18px;
    h3 {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 25px;
    }
}

.white-heading {
    font-size: 30px;
    margin-bottom: 25px;
}

.beotravel-carousel-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #30389e;
    display: table;
    width: 310px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    transition: all 0.4s;
    border: 1px solid #30389e;
    &:hover {
        color: #30389e;
        background-color: #fff;
    }
}

.beotravel-carousel-bottom {
    background-color: rgba(179, 177, 204, 0.28) !important;
}

.beotravel-text {
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    h2 {
        color: #30389e;
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 55px;
    }
    p {
        font-size: 18px;
        margin-bottom: 16px;
        &:last-of-type {
            margin-bottom: 0 !important;
        }
    }
}

.beotravel-team-container {
    padding-bottom: 20px;
}

.individual {
    text-align: center;
    margin-bottom: 70px;
    img {
        display: block;
        margin: 0 auto;
    }
    h4 {
        margin-top: 25px;
        margin-bottom: 0;
        color: #30389e;
        font-size: 24px;
    }
}

.beotravel-individual {
    .individual();
    h4 {
        font-size: 16px;
    }
}

.beotravel-plane {
    padding-top: 40px;
    padding-bottom: 40px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    ul {
        list-style: none;
    }
    p {
        margin-bottom: 50px;
        text-align: center;
    }
    p,
    li {
        color: #fff;
        font-size: 18px;
    }
    li {
        position: relative;
        display: table;
        margin: 0 auto;
        &::before {
            content: " ";
            position: absolute;
            top: 50%;
            left: -20px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #fff;
            transform: translateY(-50%);
        }
    }
}

.beotravel-references-container {
    padding-bottom: 50px;
}

.references-image {
    margin-bottom: 70px;
    img {
        display: table;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .references-image {
        margin-bottom: 50px;
        &:last-of-type {
            margin-bottom: 0;
        }
        img {
            display: table;
            margin: 0 auto;
            width: 180px;
        }
    }
    .white-part {
        margin-top: 0;
    }
    .white-part-text {
        font-size: 12px;
    }
    .beotravel-services {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .beotravel-carousel-button {
        font-size: 10px;
        width: 190px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .beotravel-text {
        padding-top: 40px;
        padding-bottom: 20px;
        h2 {
            font-size: 28px;
            margin-bottom: 25px;
        }
        p {
            font-size: 18px;
            margin-bottom: 20px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .beotravel-team-container {
        padding-bottom: 35px;
    }
    .individual {
        margin-bottom: 30px;
        img {
            width: 200px;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
        h4 {
            margin-top: 10px;
        }
    }
    .beotravel-plane {
        padding-top: 40px;
        padding-bottom: 10px;
        padding-left: 8px;
        padding-right: 8px;
        ul {
            text-align: left;
        }
        p {
            font-size: 18px;
            margin-bottom: 20px;
        }
        li {
            margin-bottom: 10px;
            display: block !important;
            font-size: 14px;
        }
    }
    .beotravel-references-container {
        padding-bottom: 40px;
    }
}


@media (min-width: 768px) and (max-width: 1199px) {
    .beotravel-services {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .beotravel-text {
        padding-top: 50px;
        padding-bottom: 50px;
        h2 {
            margin-bottom: 40px;
        }
        p {
            margin-bottom: 30px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .beotravel-team-container {
        padding-bottom: 0;
    }
    .individual {
        margin-bottom: 40px;
        h4 {
            margin-top: 15px;
        }
    }
    .beotravel-plane {
        padding-top: 60px;
        padding-bottom: 60px;
        p {
            font-size: 20px;
        }
        li {
            font-size: 17px;
        }
    }
    .references-image {
        margin-bottom: 50px;
        img {
            display: table;
            margin: 0 auto;
        }
    }
    .beotravel-references-container {
        padding-bottom: 40px;
    }
}
