.single-cruise-container {
    padding-top: 80px;
    padding-bottom: 60px;
    h2 {
        font-size: 36px;
        text-transform: uppercase;
        color: #30389e;
        margin-top: 0;
        margin-bottom: 40px;
        padding-left: 15px;
    }
    h3 {
        font-size: 24px;
        color: #30389e;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 25px;
    }
    h4 {
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 25px;
        color: #30389e;
    }
    ul {
        padding-left: 0;
        li {
            font-size: 18px;
        }
    }
    .single-cruise-text-buttons {
        margin-top: 40px;
        a {
            background-color: #30389e;
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            width: 200px;
            padding-top: 18px;
            padding-bottom: 18px;
            display: inline-block;
            text-align: center;
            margin-right: 20px;
            margin-bottom: 15px;
        }
    }
}

.single-cruise-info {
    background-color: #ebebeb;
    padding-top: 25px;
    padding-bottom: 50px;
    h4 {
        text-transform: uppercase;
        color: #30389e;
        font-size: 24px;
        margin-bottom: 40px;
    }
    .infos {
        p {
            text-transform: uppercase;
            font-size: 16px;
            span {
                color: #30389e;
                font-weight: bold;
            }
        }
    }
}


@media (max-width: 767px) {
    .single-cruise-container {
        padding-top: 35px;
        padding-bottom: 30px;
        .single-cruise-text {
            padding-left: 0;
            padding-right: 0;
        }
        h2 {
            font-size: 28px;
            margin-bottom: 20px;
            padding-left: 0;
        }
        h3,
        h4 {
            font-size: 20px;
            margin-bottom: 15px;
        }
        ul {
            li {
                font-size: 15px;
            }
        }
        .single-cruise-img {
            img {
                display: block;
                margin: 0 auto;
            }
        }
        .single-cruise-text-buttons {
            margin-bottom: 25px;
            text-align: center;
            a {
                margin-bottom: 20px;
                margin-right: 0;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
    .single-cruise-info {
        padding-bottom: 25px;
        .headerino {
                padding-right: 0;
                padding-left: 0;
        }
        h4 {
            font-size: 22px;
            margin-bottom: 20px;
        }
        .infos {
            padding-left: 0;
            padding-right: 0;
        }
        .infos {
            p {
                font-size: 14px;
            }
        }
    }
}
